# Frontend Environment Variables
VITE_API_URL=http://localhost:3000
VITE_RPC_URL=http://127.0.0.1:8545

# Backend Environment Variables
PORT=3000
DATABASE_URL=
JWT_SECRET=
NODE_ENV=development

# Blockchain/Smart Contracts Environment Variables
PRIVATE_KEY=
INFURA_API_KEY=
ETHERSCAN_API_KEY=
COINMARKETCAP_API_KEY=
